langchain_core.prompts 
langchain_groq 

bs4
langchain
langchain_community.document_loaders 
langchain_chroma 
langchain_core.output_parsers 
langchain_core.runnables 
langchain_openai 
langchain_text_splitters
os
